.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
  height: 530px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
  background: #f9f9f9;
}

.card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 30px 0;
  flex-shrink: 0;
  min-height: 1.2em;
}

.card p {
  color: #444242;
  margin: 0 0 10px 0;
  max-height: 4.5em;
  line-height: 1.5em;
  overflow-y: scroll;
  flex-shrink: 0;
}

.card p::-webkit-scrollbar {
  width: 6px;
}
.card p::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.price {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.kaspiButton {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #f14635;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
}

.kaspiButton:hover {
  background-color: #e04131;
}

.share {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.share button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.share .WhatsApp {
  background-color: #25d366;
}
.share .WhatsApp:hover {
  background-color: #1ebc5a;
}
.share .Telegram {
  background-color: #0088cc;
}
.share .Telegram:hover {
  background-color: #0077b3;
}